<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
	  
<title th:text= "|AgileSaurus: ${theItem}. ${theAction}|">AgileSaurus</title>
</head>
<body>
		<div th:replace="common/parts/nav_bar :: nav_bar"></div>	

		
		<!-- Form header -->
		<div th:replace="common/parts/form_list_header :: form_list_header_simple"></div>		
		<hr>
		
		<div class="container">	
			<!-- Form attributes -->
			<form action="#"	th:action="@{${'/'+theItem+'/new'}}"
								method= "POST"
								th:object= "${theObject}"
								>
				<!-- Form body fields -->				
				<div th:insert="~{${'common/' + theItem + '/'+ theItem + '_form_row'} :: form_row}"></div>
				
				<hr>
				
				<div class= "row">
					<!-- Save button -->
					<div th:insert= "common/parts/buttons :: save_button"></div>
							<!-- Back to list link -->
					<div  th:insert= "common/parts/buttons :: back_to_list_button"></div>		
				</div>	
			</form>
			
		</div>
		<hr>

</body>
</html>