<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
		      
<title>AgileSaurus: Epic list</title>
</head>
<body>

		
		<!-- Table body -->
	<div class= "container" th:fragment="list_row">
	<table class="table table-bordered  table-hover">
		<thead class="bg-info text-white">
				<tr>
					<th>id</th>
					<th>name</th>
					<th>goal</th>
					<th>reviewed</th>										
					<th>starts</th>
					<th>ends</th>
				</tr>			
			</thead>
			<tbody>
				<tr th:each= "someElement : ${theList}">
					<td th:text= "${someElement.id}"></td>
					<td th:text= "${someElement.name}"></td>
					<td th:text= "${someElement.goal}"></td>
					<td th:text= "${someElement.reviewed}"></td>										
					<td th:text= "${#calendars.format(someElement.starts, 'yyyy-MM-dd')}"></td>
					<td th:text= "${#calendars.format(someElement.ends, 'yyyy-MM-dd')}"></td>
					<td>
						<!-- drop down action buttons -->
						<div th:replace="common/parts/buttons :: dropdown_list_actions"></div>
										
					</td>				
				</tr>		
			</tbody>	
		</table>
	</div>

</body>
</html>