<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
	  
<title>AgileSaurus: Sprint</title>
</head>

<body>


			<!-- save and update -->
				<div th:fragment="form_row">
					<div th:replace= ":: form_row_reading"></div>
				</div>

			<!-- read and delete -->
				<div class="row" th:fragment="form_row_reading">		
					<fieldset >										
					<!-- Input fields -->
							<!-- Hidden id field for Update handle-->
						<input type="hidden" th:field="*{id}"/>					

						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> Name
								</button>
							</span>					
							<input type= "text" th:field="*{name}"
									class= "form-control mb-4 col-4"
									placeholder="Name" />
						</div>	
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> Goal
								</button>
							</span>					
							<input type= "text" th:field="*{goal}"
									class= "form-control mb-4 col-12"
									placeholder="Goal description" />
						</div>						
					</fieldset>
						
					<fieldset class="ml-5">	
					
						<div th:replace=":: ${theAction == 'extended data'} ? 'read_reviewed' : 'input_reviewed'"></div>
					

									
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> Starts
								</button>
							</span>									
							<input type="date" th:field="*{starts}"
									class= "form-control mb-4 col-8"
									placeholder= "Starts"/>
						</div>						

						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> Ends
								</button>
							</span>						
							<input type="date" th:field="*{ends}"
									class= "form-control mb-4 col-8"
									placeholder= "Ends"/>
						</div>								
					</fieldset>
					
				</div>
				
				<!-- Reviewed field options -->
				
						<div class="input-group" th:fragment="read_reviewed">
							<span>
								<button type="button" class="btn btn-outline-info"> Reviewed
								</button>
							</span>					
							<input type= "text" th:field="*{reviewed}"
									class= "form-control mb-4 col-4"
									placeholder="Reviewed"/>
						</div>
						
							
						<div class="input-group" th:fragment="input_reviewed">
							<span>
								<button type="button" class="btn btn-outline-info"> Reviewed
								</button>
							</span>																		
							<select  th:field="*{reviewed}"
									class= "form-control mb-4 col-4">
									<option th:text="false" th:value="false"></option>
									<option th:text="true" th:value="true"></option>									
										
							</select>									
						</div>										

</body>
</html>