<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
<title>Buttons</title>
</head>
<body>

	<!-- list action drop down buttons -->

			<!-- Queries by standard id field. -->

						<div class="dropdown" th:fragment="dropdown_list_actions">
						  <button type="button" class="btn btn-muted dropdown-toggle" data-toggle="dropdown">
						     <span><i class="fas fa-bolt" style='font-size:16px;color: blue'></i></span>
						  </button>
						  <div class="dropdown-menu">
						    <a class="dropdown-item" href="#" th:href="@{${'/'+theItem+'/single?'+theItem+'Id='+someElement.id}}" >
						    	<i class="fa fa-expand pr-2" style="font-size:16px;color:blue"></i>
						    </a>
						    <a class="dropdown-item" href="#" th:href="@{${'/'+theItem+'/update?'+theItem+'Id='+someElement.id}}">
						    	<i class='far fa-edit pr-2' style='font-size:16px;color:blue'></i> 
						    </a>
						    
						    <a class="dropdown-item" href="#"><i class='far fa-clone pr-2' style='font-size:16px;color:blue'></i></a>
						    
						    <a class="dropdown-item" href="#" th:href="@{${'/'+theItem+'/delete?'+theItem+'Id='+someElement.id}}">
						    	<i class="fa fa-trash" style='font-size:16px;color:blue'></i>
						    </a>						    
						  </div>
						</div>
						
						
						
	<!-- ============================================================== -->
	
	<!-- ================== Page browsing action buttons========================= -->	
	
		<!-- Save button  -->		
					<button type="submit" class="btn btn-info ml-1" th:fragment="save_button">
						<span><i class='fas fa-save' style="font-size:16px;color:white"></i></span>
						Save
					</button>	
			<!-- =============== standard application ==================== -->
					<!-- Save button -->
					<div th:insert= "common/buttons :: save_button"></div>									
			<!-- ========================================================= -->
			
		<!-- Back to list link button --> <!-- Old: th:href="@{${'/'+theItem+'/list'}}" -->
					<a href="#" th:href="@{${'/'+theItem+'/list'}}"  class="btn btn-info ml-1" role="button"
						 th:fragment= "back_to_list_button">
						<span><i class='far fa-list-alt' style="font-size:16px;color:white"></i></span>
						Back to list
					</a>			
			<!-- =============== standard application ==================== -->
							<!-- Back to list link button -->
					<div  th:insert= "common/buttons :: back_to_list_button"></div>					
			<!-- ========================================================= -->

		<!-- Delete button -->
				<a href="#" th:href= "@{${'/'+theItem+'/delete_true?'+theItem+'Id='+theObject.id}}"	
						class= "btn btn-danger" role="button"
						onclick= "if(!(confirm('Are you sure to delete the Epic?'))) return false"
						th:fragment= "delete_true_button">
						<span><i class="fa fa-trash" style='font-size:16px;color:white'></i></span>
						Delete
				</a>	
			<!-- =============== standard application ==================== -->				
					<!-- Delete button -->
				<div th:insert= "common/buttons :: delete_true_button"></div>				
			<!-- ========================================================= -->
						
		
	
	
	
	

</body>
</html>