<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
		      
<title>AgileSaurus: Form & List Headers </title>
</head>
<body>

		<!-- Header with SAVE button-->
		<div class="row" th:fragment="form_list_header_save-button">
			<div class="container col-sm-5 m-2">
				<p class="h5 p-2 bg-info text-white"> <span th:text="|${theItem}: ${theAction}|"></span></p>
				<p th:text= "${mssg01}"  class="bg-warning text-red"></p>				
			</div>
			<div class="button-group col-sm-4 m-2">
				<a href="#" th:href="@{${'/'+theItem+'/new'}}"	class="btn btn-info" role="button">
					<span><i class='fas fa-save' style="font-size:16px;color:white"></i></span>
					New record
				</a>				
			</div>
		</div>	
		
		<!-- Simple header -->
		<div class="row" th:fragment="form_list_header_simple">
			<div class="container col-sm-5 m-2">
				<p class="h5 p-2 bg-info text-white"> <span th:text="|${theItem}: ${theAction}|"></span></p>
				<p th:text= "${mssg01}"  class="bg-warning text-red"></p>				
			</div>
		</div>			

</body>
</html>