<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
		      
<title>AgileSaurus: Epics list</title>
</head>
<body>

<div th:fragment="nav_bar" >
	<nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top"  >

		 <ul class="navbar-nav " >
		    <li class="nav-item active text-monospace">
		      <a class="nav-link" href="#" th:href="@{/}">
		      	__AgileSaurus__
		      </a>
		    </li>		 
		    <li class="nav-item disabled">
		      <a class="nav-link" href="#">
		      	<i class='fab fa-trello' style='font-size:16px;color:white'></i>
		      	Board
		      </a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link " href="#" th:href="@{/story/list_tags}">
		      	<i class='far fa-list-alt' style="font-size:16px;color:white"></i>
		      	Story
		      </a>
		    </li>
		    <li class="nav-item disabled">
		      <a class="nav-link " href="#">Disabled</a>
		    </li>
		        <!-- Dropdown -->
		    <li class="nav-item dropdown active">
		      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		        Plan
		      </a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item" href="#" th:href="@{/epic/list}">
		        	<i class='far fa-list-alt' style="font-size:16px;color:black"></i>
		        	Epic
		        </a>
		        <a class="dropdown-item" href="#" th:href="@{/sprint/list}">
		        	<i class='far fa-list-alt' style="font-size:16px;color:black"></i>
		        	Sprint
		        </a>	        
		      </div>
		    </li>
		    <li class="nav-item dropdown active">
		      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		        Parameters
		      </a>
		      <div class="dropdown-menu">
		        <a class="dropdown-item" href="#" th:href="@{/tag/list}">
		        	<i class='far fa-list-alt' style="font-size:16px;color:black"></i>
		        	Tag
		        </a>
		        <a class="dropdown-item" href="#" th:href="@{/status/list}">
		        	<i class='far fa-list-alt' style="font-size:16px;color:black"></i>
		        	Status
		        </a>	        
		      </div>
		    </li>	    
	  	</ul>
	</nav>
	<div><br><br><br></div>
</div>
		

</body>
</html>