<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
	  
<title>AgileSaurus</title>
</head>
<body>

<!-- ================fragment starts================================================ -->				

				<div class="row" th:fragment="form_row">	
					<fieldset class="col-sm-6">										
					<!-- Input fields -->
							<!-- Hidden id field for Update handle-->
						<input type="hidden" th:field="*{id}"/>
							<!-- Shown / editable fields -->
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> Story name
								</button>
							</span>					
							<input type= "text" th:field="*{name}"
									class= "form-control mb-4 col-8"
									placeholder="" />
						</div>	

						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> sequence order
								</button>
							</span>						
							<input type="text" th:field="*{sequenceOrder}"
									class= "form-control mb-4 col-2"
									placeholder= ""/>
						</div>
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> points
								</button>
							</span>						
							<input type="text" th:field="*{points}"
									class= "form-control mb-4 col-2"
									placeholder= ""/>
						</div>						
					</fieldset>
					<fieldset class="col-sm-6">	
					
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> sprint
								</button>
							</span>						
							<select  th:field="*{gotSprint.id}"
									class= "form-control mb-4 col-2">
									<option th:text="---" th:value=0></option>
									<option th:each="sprint : ${theSprint}"
											th:value= "${sprint.id}"
											th:text= "${sprint.name}">
									</option>		
							</select>
						</div>
						
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> epic
								</button>
							</span>						
							<select  th:field="*{gotEpic.id}"
									class= "form-control mb-4 col-6">
									<option th:text="---" th:value=0></option>									
									<option th:each="epic : ${theEpic}"
											th:value= "${epic.id}"
											th:text= "${epic.name}">
									</option>		
							</select>
						</div>	
						
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> status
								</button>
							</span>						
							<select  th:field="*{gotStatus.id}"
									class= "form-control mb-4 col-4">
									<option th:text="---" th:value=0></option>									
									<option th:each="status : ${theStatus}"
											th:value= "${status.id}"
											th:text= "${status.status}">
									</option>		
							</select>
						</div>					

						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> description
								</button>
							</span>						
							<input type="text" th:field="*{description}"
									class= "form-control mb-4 col-8"
									placeholder= "Story description"/>
						</div>																			
					</fieldset>
					
				</div>
				
<!-- ================ standard reading form row ================================================ -->				
				<div class="row" th:fragment="form_row_reading">	
					<fieldset class="col-sm-6">										

						<!-- Shown fields -->

						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> Name
								</button>
							</span>					
							<input type= "text" th:field="*{name}"
									class= "form-control mb-4 col-8"
									placeholder="Story Name" />
						</div>	
						
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> sprint
								</button>
							</span>						
							<input type="text" th:field="*{gotSprint.name}"
									class= "form-control mb-4 col-2"
									placeholder= "Sprint"/>
						</div>
						
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> sequence order
								</button>
							</span>						
							<input type="text" th:field="*{sequenceOrder}"
									class= "form-control mb-4 col-2"
									placeholder= "Sequence order"/>
						</div>
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> points
								</button>
							</span>						
							<input type="text" th:field="*{points}"
									class= "form-control mb-4 col-2"
									placeholder= "Points"/>
						</div>						
					</fieldset>
					<fieldset class="col-sm-6">	

						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> epic
								</button>
							</span>						
							<input type="text" th:field="*{gotEpic.name}"
									class= "form-control mb-4 col-6"
									placeholder= "Epic"/>
						</div>	
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> status
								</button>
							</span>						
							<input type="text" th:field="*{gotStatus.status}"
									class= "form-control mb-4 col-4"
									placeholder= "Status"/>
						</div>
						<div class="input-group">
							<span>
								<button type="button" class="btn btn-outline-info"> description
								</button>
							</span>						
							<input type="text" th:field="*{description}"
									class= "form-control mb-4 col-8"
									placeholder= "Story description"/>
						</div>																			
					</fieldset>
					
				</div>

</body>
</html>