<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
  <title>Pedro de Cos. Portfolio.</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
    
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
		<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	
		<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Font Awesome Icons -->
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
		 integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
		  crossorigin='anonymous'>
  <style>
body {
      position: relative;    
  }
html {
  scroll-behavior: smooth;
}  
.container {
    height: 100vh;
    overflow: auto;
}
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#section1">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section2">AgileSaurus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section3">PdC info</a>
    </li>
    <!--  
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Projects
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" th:href="@{story/list}">AgileSaurus</a>
      </div>
    </li>
    -->
  </ul>
</nav>

<div id="section1" class="container-fluid " style="background-color:#DFE38E;
	padding-top:70px;padding-bottom:70px;
	height:100vh;overflow:auto">
 			<!--;height:100vh;overflow:auto" -->
	<br><br><br>
	<div class="row">
		<div class="col-sm-1"></div>
	  	<div><img th:src= "@{img/early_bird.png}" class=" img-fluid" alt="the early bird" ></img></div>
		<div >

			<h1 th:text= "Welcome" align="center">Welcome</h1>
			<h3 th:text= "|Pedro de Cos portfolio.|" align="center" >A Scrum approach for one people team.</h3>	
			<br>
			<p align="center"><i class="fab fa-pagelines" ></i></p>
			<br>
			<p align="center">Your mind and your experience call to me <br>
				You have lived and your intelligence is sexy <br>
				I want to know what you got to say <br>
				I want to know what you got to say <br>
				I want to know what you got to say <br>
				I can tell you taste like the sky 'cause you look like rain. <br>
				<br>
				(Morphine, "You look like rain")
			</p>
		</div>
		
	</div>
</div>
  <!--  AgileSaurus-->
<div id="section2" class="container-fluid " style="background-color:#EFCA8C;
	padding-top:70px;padding-bottom:70px;
	height:100vh;overflow:auto">
	<br>
  	<img th:src= "@{img/agilesaurus_turquoise.png}" class="img-fluid mx-auto  d-block" alt="the dino"></img>
	<div class="mx-auto">
		<h1 th:text= "AgileSaurus" align="center">AgileSaurus</h1>
		<h3 th:text= "|A Scrum approach for one people team.|" align="center" >A Scrum approach for one people team (!)</h3>	
	</div>
	<div class="row">
		<div class="button-group mx-auto mt-5">
			<a href="#" th:href="@{https://bitbucket.org/antropoide/agile_saurus_public.git}"
				class="btn btn-info" role="button" target="_blank" >
				Watch the code
			</a>
			<a href="#"	class="btn btn-info ml-4 mr-4" role="button" data-toggle="tooltip" title="Coming soon!">
				More info
			</a>
			<a href="#" th:href="@{story/list}"	class="btn btn-info" role="button">
				Visit the app
			</a>									
		</div>
	</div>
</div>

	<!-- PdC info -->
<div id="section3" class="container-fluid bg-secondary"  style="height:100vh;overflow:auto">
	<br><br><br>

		<img th:src= "@{img/fernandezsaurus.png}" class=" img-fluid mx-auto d-block" alt="the damned" ></img>
		<h2 th:text= "|Pedro de Cos.|" class="text-center">Pedro de Cos</h2>
		<h4 th:text= "|Hiring contact:|" class="text-center" ></h4>	
		
		<h4 th:text= "|08032. Barcelona.|"class="text-center" ></h4>	
		<h4 th:text= "|Gmail account: 00pedrobot11|" class="text-center" ></h4>		
		
		<p align="center">
		<a href="#" th:href="@{https://www.infojobs.net/pedro-decos-fernandez.prf}"
				class="btn btn-info mx-auto mt-4" role="button" target="_blank">
				My Resume
		</a>		
		</p>
		
	

		<!--  
		<div class="col-sm-1"></div>
	  	<div><img th:src= "@{img/pedrobot.png}" class=" rounded-circle img-fluid " alt="the damned" ></img></div>
		<div class="col-sm-1"></div>	  	
	  	<div><img th:src= "@{img/pdcos_data.png}" class=" rounded-circle img-fluid " alt="the damned" ></img></div>
		-->

</div>


</body>
</html>
